# create a redis database at https://console.upstash.com and copy the credentials
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
# This api key must be included in the request using the "api-key" header
API_KEY=
PORT=3000